<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" href="/chirhoicon.png" type="image/png">
    <!--link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"-->
    <meta name="viewport" content="width=device-width">
    <title>XPIAN.info : {{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
	      <h1>If you are at Urbana 2022, click <a href="/urbana/">here</a>.</h1>

	      <h1>XPIAN.info</h1>
	      <p>Encouraging people to put <b>Christ</b> back in <b>Christ</b>ian and to take wealth seeking, comfort seeking, violence, adultery and a whole lot of other un-Christlike things back out.<br />
	      <hr>
	      <a href="/index.html">home</a> | <a href="/contact.html">contact</a> | <a href="/factory_reset/">Factory Reset podcast</a> | <a href="http://early.xpian.info/">Early&nbsp;Christian&nbsp;Sources</a><br>
	      <hr>
	      </p>
	      
      </header>

      <section id="main-content">

      {{ content }}

      </section>
      <hr>
      <footer>
	      <span id="xpian_def"><b>XPIAN</b>: a short form of the Greek word <b>XP</b>IST<b>IAN</b>OS/<b>ΧΡ</b>ΙΣΤ<b>ΙΑΝ</b>ΟΣ/<b>CHR</b>IST<b>IAN</b>OS</b> which means <b>Chr</b>ist<b>ian</b></span>
      </footer>
    </div>
  </body>
</html>
